@mixin hover($color) {
  $opacity: 0.1;
  @if ($color == $black) {
    $opacity: 0.075;
  }

  transition: background-color 200ms;

  &:hover {
    background-color: rgba($color, $opacity);
  }
}

@mixin darken-hover($color) {
  $intensity: 5;
  @if ($color == $background) {
    $intensity: 4;
  }

  transition: background-color 100ms;

  &:hover {
    background-color: darken($color, $intensity);
  }
}

@mixin light-hover() {
  transition: background-color 200ms;

  &:hover {
    background-color: $background;
  }
}
