.container {
  @include flexbox(center, start);
  min-width: 275px + 600px + 350px + 40px;
  margin: 0 auto;
  overflow-x: auto;

  > header {
    width: 275px;
  }

  > main {
    width: 600px;
    margin-right: 40px;
  }

  > aside {
    width: 350px;
  }
}
