.timeline-header {
  @include flexbox(between);
  width: 100%;
  height: 54px;
  padding: 0 15px;
  border-bottom: 1px solid $border;

  > h1 {
    @include text-style(20, 800, $black);
  }

  .dropdown {
    position: relative;

    &.is-open {
      > div {
        opacity: 1;
        visibility: visible;
      }
    }

    > button {
      @include flexbox;
      @include hover($black);
      width: 34px;
      height: 34px;
      border-radius: (34px / 2);

      img {
        display: block;
        width: 20px;
        height: 20px;
      }
    }

    > div {
      position: absolute;
      top: 0;
      right: 0;
      width: 350px;
      padding-top: 8px;
      overflow: hidden;
      background-color: $white;
      border-radius: 6px;
      opacity: 0;
      visibility: hidden;
      box-shadow: $modal-box-shadow;
      transition: all 300ms;

      h2 {
        @include text-style(20, 700, $black);
        padding-bottom: 12px;
        text-align: center;
        border-bottom: 1px solid $border;
      }

      button,
      a {
        @include text-style(15, 400, $dark);
        @include flexbox(start);
        @include light-hover;
        width: 100%;
        padding: 16px;
        text-align: left;

        strong,
        span {
          display: block;
        }

        strong {
          font-weight: 400;
        }

        span {
          @include text-style(13, $primary);
          margin-top: 4px;
        }

        &::before {
          display: block;
          width: 18px;
          height: 18px;
          margin-right: 16px;
          background-position: center center;
          background-repeat: no-repeat;
          background-size: contain;
          content: '';
        }
      }

      button::before {
        background-image: url('./assets/icons/icon-swap.svg');
      }

      a::before {
        background-image: url('./assets/icons/icon-gear.svg');
      }

      &::before {
        display: block;
        width: 48px;
        height: 48px;
        margin: 12px auto;
        background-image: url('./assets/icons/icon-twinkle-colored.svg');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
        content: '';
      }
    }
  }
}
