.timeline {
  > h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }

  > ol {
    padding: 8px 0;

    > li:not(:last-child) {
      border-bottom: 1px solid $border;
    }
  }
}
