$black: #000;
$dark: #0f1419;
$primary: #536471;
$secondary: #8c8d96;
$tertiary: #b2b3b9;
$border: #eff3f4;
$background: #f7f9f9;
$white: #fff;

$blue: #1d9bf0;
$blue-dark: #3186c4;
$blue-light: #ecf6fe;

$pink: #f91880;
$green: #00ba7c;
